//-
//- Copyright (C) 2015 by Looker Data Services, Inc.
//- All rights reserved.
//-

extends ../../layouts/basic

block content
    #composer-show(ng-controller='ComposerPageController as controller')
        .navigation
            a(href='/composers/' target='_self') « back to composer list

        .header(class='ng-cloak' ng-show='controller.model.full_name')
            h1 {{controller.model.full_name}}
            a(href='http://classicalmusicdb.com{{controller.model.url}}') see on ClassicalMusic DB

        work-list(composer_id='{{controller.model.id}}')

        .error(class='ng-cloak' ng-show='controller.error')
            pre {{controller.error}}
