//-
//- Copyright (C) 2015 by Looker Data Services, Inc.
//- All rights reserved.
//-

.content(ng-repeat="error in errors")
    {{error.message}}

    .stacktrace(ng-show"error.stack")
        {{error.stack}}

    a.close(ng-click="dismiss(error.id)")
        img(src="/images/close-button.png")
