//-
//- Copyright (C) 2015 by Looker Data Services, Inc.
//- All rights reserved.
//-

extends ../../layouts/basic

block content
    div(ng-controller='ComposerListController as controller')
        h1 Composers
        ul(ng-show='controller.composers')
            li(class='composerListItem' composer='composer' ng-repeat='composer in controller.composers')
        .error(ng-show='controller.error')
            pre {{controller.error}}
