//-
//- Copyright (C) 2015 by Looker Data Services, Inc.
//- All rights reserved.
//-

extends ../../layouts/basic

block content
    div(ng-controller='ComposerPageController as controller')
        h1(class='ng-cloak') {{controller.model.full_name}}
        a(href='http://classicalmusicdb.com{{controller.model.url}}') see on ClassicalMusic DB
        p: a(href='/composers/' target='_self') back
        work-list(composer_id='{{controller.model.id}}')
        .error(class='ng-cloak' ng-show='controller.error')
            pre {{controller.error}}
