//-
//- Copyright (C) 2015 by Looker Data Services, Inc.
//- All rights reserved.
//-

doctype html
html(ng-app='app')
    head
        title Classical Music DB

    body
        h1 TODO

        script(src='client.js')
