//-
//- Copyright (C) 2015 by Looker Data Services, Inc.
//- All rights reserved.
//-

a(href='{{composer.url}}')
    | <span class="first-name">{{composer.last_name}}</span><span class="last-name">,
    | {{composer.first_name}}</span>
