//-
//- Copyright (C) 2015 by Looker Data Services, Inc.
//- All rights reserved.
//-

extends ../../layouts/basic

block content
    #work-show(ng-controller='WorkPageController as controller')
        .navigation(ng-show='controller.model.composer_id')
            a(href='/composers/{{controller.model.composer_id}}' target='_self') « back to composer page

        .header(class='ng-cloak' ng-show='controller.model.title')
            h1 {{controller.model.title}}
            a(href='http://classicalmusicdb.com{{controller.model.url}}') see on ClassicalMusic DB

        .error(class='ng-cloak' ng-show='controller.error')
            pre {{controller.error}}
